@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

:root {
  --pink: #e04577;
}

body a {
  color: #e04577;
  text-decoration: none;
}

body a:hover {
  color: #dd1252;
  text-decoration: none;
}

.frontPage {
  background-image: url(./144.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: fit-content;
}

.fullPage {
  background-color: white;
  min-height: 100vh;
  height: fit-content;
}

a.nav-link {
  color: white;
}

a.nav-link:hover {
  color: #e04577;
}

a.mainBtn {
  background-color: #e04577;
  border: 0;
  padding: 9px 15px;
}

a.mainBtn:hover {
  background-color: #dd1252;
}

.introText {
  position: relative;
  top: 23vh;
  margin: 0 auto;
  width: fit-content;
}

.bigName {
  font-weight: 900;
  font-family: "Heebo", sans-serif;
  margin-top: 50px;
  /* position: absolute;
    bottom: 40px;
    right: 70px; */
  border-bottom: 2px solid #e04577;
  padding-bottom: 20px;
  width: fit-content;
}

.bigName h1 {
  font-size: 100px;
  font-style: italic;
}

.aboutSec {
  position: relative;
  top: 15vh;
}

.Stats {
}

.Stats .bigNum {
  font-size: 60px;
  color: #e04577;
}

button.accordion-button {
  background-color: transparent;
  color: black;
  font-weight: bold;
}

button.accordion-button:focus {
  outline: none;
  border: 0;
  box-shadow: none;
}

button.accordion-button:not(.collapsed) {
  color: #e04577;
  background-color: transparent;
}

.accordion .accordion-item {
  margin-bottom: 50px;
  border-radius: 5px;
  position: relative;
  right: 30px;
}

.accordion-Border {
  border: 1px solid #dee2e6;
}

.accordion-item:not(:first-of-type) {
  border-top: 1px solid #dee2e6;
}

.accordion {
  border-left: 4px dotted #e04577;
}

.Heading {
  width: fit-content;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
}
